<mat-toolbar>
  <span >CartFront</span>
  <span style="flex: 1 1 auto;"></span>
  <nav style="color: white">
    <a style="color: white" routerLink="/cart" >
        <mat-icon aria-hidden="false" aria-label="shopping cart icon">shopping_cart</mat-icon>Cart
    </a>
    <a style="color: white" routerLink="catalogue">
      <mat-icon aria-hidden="false" aria-label="shopping cart icon">
        article
      </mat-icon>
      Catalogue
    </a>
  </nav>

</mat-toolbar>
<router-outlet></router-outlet>
