<mat-drawer-container id="mainContent">
  <mat-drawer id="drwrCart" *ngIf="selectedItem" opened=true mode="side">
    <app-cart [selectedItem]="selectedItem"></app-cart>
  </mat-drawer>
  <mat-drawer-content>
    <mat-accordion *ngFor="let item of items" multi="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{item.name}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-flat-button (click)="select(item)" color="primary">add to cart</button>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-drawer-content>

</mat-drawer-container>
