<mat-drawer-container id="mainContent">
  <mat-drawer #cartDrawer mode="side">
    <app-cart *ngIf="selectedItem" [selectedItem]="selectedItem"></app-cart>
    <mat-label style="vertical-align: bottom">
      <button mat-button (click)="cartDrawer.close()">Close Cart</button>
    </mat-label>
  </mat-drawer>
  <mat-drawer-content>
    <mat-accordion *ngFor="let item of items" multi="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>{{item.name}}</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- in case of extended Item class, this could hold a description view -->

        <button mat-flat-button (click)="select(item); cartDrawer.open()" color="primary">add to cart</button>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-drawer-content>

</mat-drawer-container>
